nav ul li::after {
  content: "";
  display: block;
  border-bottom: 2px solid #00d2df;

  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li:hover::after {
  transform: scaleX(1);
}
